{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Jmsp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ipa/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'ipa/images/touch_icon.png' %}">
    <meta name="description" content="内用内测">
    <meta name="keywords" content="jmsp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        function upload_file_change(value) {
            alert(value)
        }
        function on_progress(evt) {       //看这个函数之前先看upload函数。这个函数可以接收一个evt(event)对象(细节自行查询progress)，他有3个属性lengthComputable，loaded，total，第一个属性是个bool类型的，代表是否支持，第二个代表当前上传的大小，第三个为总的大小，由此便可以计算出实时上传的百分比
            if(evt.lengthComputable) {
                var ele = document.getElementById('2');
                var percent = Math.round((evt.loaded) * 100 / evt.total);
                ele.style.width = percent + '%';
                document.getElementById('3').innerHTML = percent + '%';
            }
        }
        function upload() {
            var xhr = new XMLHttpRequest();
            var file = document.getElementById('file').files[0];   //取得文件数据，而.file对象只是文件信息
            var form = new FormData();   //FormData是HTML5为实现序列化表单而提供的类，更多细节可自行查询
            form.append('file',file);   //这里为序列化表单对象form添加一个元素，即file
{#            form.append('email', {{ email }})#}
            xhr.upload.addEventListener('progress',on_progress,false);     //xhr对象含有一个upload对象，它有一个progress事件，在文件上传过程中会被不断触发，我们为这个事件对应一个处理函数，每当事件触发就会调用这个函数，于是便可利用这个函数来修改当前进度，更多细节可自行查询
            xhr.open('POST','{% url 'ipa:upload' %}',true);  //请将url改成上传url
            xhr.setRequestHeader('X-CSRFTOKEN','{{ request.COOKIES.csrftoken }}');   //此处为Django要求，可无视，或者换成相应后台所要求的CSRF防护，不是django用户请去掉

            xhr.send(form);   //发送表单
        }

    </script>
</head>
<body class="il-body">
    <div class="il-header">
        <a href="{% url 'ipa:index' %}">
            <img class="logo-img" src="{% static 'ipa/images/jmsp_logo.png' %}"/>
        </a>
        <div class="il-header-user">
            {{ email }}
            <a href="{% url 'ipa:index' %}">注销</a>
        </div>
    </div>
    <div class="il-content">
{#        <a class="file">选择文件#}
{#            <input type="file" onchange="upload_file_change(this.value)">#}
{#        </a>#}
        {% if hasContent == 1 %}
            {{ content }}
        {% elif hasContent == 0 %}
            <form action="{% url 'ipa:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id='1' style="height:20px;width:100px;border:2px solid gray;float:left;margin-right:10px;">
                <div id='2' style="height:100%;width:0px;background:gray;"></div>

            </div>
            <b style="margin-right:20px" id='3'>0%</b>

            <a class="file">
                选择文件
                <input type="file" id="file" name="file" accept="image/*">
                <input name="email" value="{{ email }}" style="display: none">

            </a>
{#            <input type="button" value="提交" onclick="upload()">#}
            <input type="submit" value="提交">
        </form>
        {% endif %}

    </div>
    <div class="il-footer">
        <div class="il-footer-box">
            Rome was not built in a day!
        </div>
    </div>
</body>
</html>