{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Jmsp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ipa/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'ipa/images/touch_icon.png' %}">
    <meta name="description" content="内用内测">
    <meta name="keywords" content="jmsp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="il-body">
    <div class="il-header">
        <a href="{% url 'ipa:index' %}">
            <img class="logo-img" src="{% static 'ipa/images/jmsp_logo.png' %}"/>
        </a>
        <div class="il-header-user">
            {{ email }}
            <a href="{% url 'ipa:index' %}">注销</a>
        </div>
    </div>
    <div class="il-content">

    </div>
    <div class="il-footer">
        <div class="il-footer-box">
            Rome was not built in a day!
        </div>
    </div>
</body>
</html>