{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Jmsp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ipa/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'ipa/images/touch_icon.png' %}">
    <meta name="description" content="内用内测">
    <meta name="keywords" content="jmsp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>

    </script>
</head>
<body class="il-body">
    <div class="il-header">
        <a href="{% url 'ipa:index' %}">
            <img class="logo-img" src="{% static 'ipa/images/jmsp_logo.png' %}"/>
        </a>
        <div class="il-header-user">
            {{ email }}
            <a href="{% url 'ipa:logout' %}">注销</a>
        </div>
        {% if avatar %}
            {% if avatar != '' %}
                <img src="{{ avatar }}" style="width: 40px; height: 40px; float: right">
            {% endif %}
        {% endif %}

    </div>
    <div class="il-content">

        {% if hasContent == 1 %}
            <div class="upload_detail">
                <label class="success_info">
            {{ content }}
            </label>
            <img class="upload_img" src="{{ img_url }}">
            </div>
        {% elif hasContent == 0 %}
            <form action="{% url 'ipa:upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="file">
                    选择文件
                    <input type="file" id="file" name="file" accept="image/*">
                </a>
                <input type="submit" value="提交">
            </form>
        {% endif %}

    </div>
    <div class="il-footer">
        <div class="il-footer-box">
            Rome was not built in a day!
        </div>
    </div>
</body>
</html>