{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>Jmsp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ipa/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'ipa/images/touch_icon.png' %}">
    <meta name="description" content="内用内测">
    <meta name="keywords" content="jmsp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="il-body">
    <div class="il-header">
        <a href="{% url 'ipa:index' %}">
            <img class="logo-img" src="{% static 'ipa/images/jmsp_logo.png' %}"/>
        </a>
    </div>
    <div class="il-content">
        <form method="post" action="{% url 'ipa:checkpsw' %}">
            {% csrf_token %}
            <div class="il-content-box">
                <h4 style="text-align: center; font-size: 17px; color: #0D181D;">{{ titletype }}</h4>
                <div class="il-login-input">
                    <input class="il-content-input" placeholder="请输入密码" name="first_input">
                </div>
                <div class="il-login-input">
                    <input class="il-content-input" placeholder="再次输入密码" name="second_input">
                </div>
                <input name="email" value="{{ email }}" style="display: none;">
                <button class="il-submit" type="submit" style="margin-top: 30px;">提交</button>
            </div>
        </form>
    </div>
    <div class="il-footer">
        <div class="il-footer-box">
            Rome was not built in a day!
        </div>
    </div>
</body>
</html>